- return if ci_cd_only
- return unless License.feature_available?(:repository_mirrors)

.form-group
  = f.gitlab_ui_checkbox_component :mirror,
      _('Mirror repository'),
      checkbox_options: { disabled: true }
  .form-text.text-muted
    = _("Automatically update this project's branches and tags from the upstream repository every hour.")
  - if Gitlab::CurrentSettings.should_check_namespace_plan?
    .form-text.text-muted
      = _('Mirroring will only be available if the feature is included in the plan of the selected group or user.')
